@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700|Poppins:300,400,400i,600,700|Roboto:300,400,400i,700|Ubuntu:300,400,400i,700&display=swap');

body {
    background-color: #faaa20;
    font-family: 'poppins';
}

.crsl {
    border-radius: 50px;
    margin: auto;
    width: 1200px;
    height: 250px;

}

.carousel {
    margin-top: 20px;
    border-radius: 100px;
    box-shadow: 0px 7px 47px -20px rgba(0, 0, 0, 0.75);
    border: 0;
}

.welkom {
    margin-top: 20px;
    text-align: center;
    color: white;
    text-shadow: 0px 7px 47px -20px rgba(0, 0, 0, 0.75);
    ;
}

.nav-link:hover {
    background-color: #faaa20;
    border-radius: 100px;
}

.aktif {
    font-weight: bold;
    background-color: #faaa20;
    border-radius: 100px;
}



li {
    margin: 3px;
}

.nav2 {
    background-color: #ef4a1d;
    border-radius: 50px;
    box-shadow: 0px 7px 47px -20px rgba(0, 0, 0, 0.75);
}

.navli {
    color: white;
}

.atas {
    margin-top: 81px;
}

.form-control {
    border-radius: 100px;
    border: 0;
}

.btn-outline-warning {
    border-radius: 100px;
    border: 0;
    background-color: #fff;
}

.postingan {
    border-radius: 30px;
    background-color: #ef4a1d;
    color: white;
    font-size: small;
}

.gambarpos {
    width: 260px;
    height: 150px;
}

.judulpos {
    font-weight: bold;
}

.gambarnews {
    margin-left: 20px;
    width: 150px;
    height: 88px;
}

.judulart {
    font-size: medium;
    color: black;
    text-align: center;
    background-color: yellow;

}

.art {
    border-radius: 30px;
}

.judulpart {
    font-weight: normal;
}

.inpuut {}